[project]
	description = WIP! nodejs HBase Implementation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lukas Benes (falsecz)
[access "refs/for/refs/*"]
	read = group user/Lukas Benes (falsecz)
	push = group user/Lukas Benes (falsecz)
	label-Code-Review = -2..+2 group user/Lukas Benes (falsecz)
	label-Verified = -1..+1 group user/Lukas Benes (falsecz)
	rebase = group user/Lukas Benes (falsecz)
	removeReviewer = group user/Lukas Benes (falsecz)
	submit = group user/Lukas Benes (falsecz)
[access "refs/heads/*"]
	read = group user/Lukas Benes (falsecz)
	create = group user/Lukas Benes (falsecz)
	push = +force group user/Lukas Benes (falsecz)
	pushMerge = group user/Lukas Benes (falsecz)
[access "refs/tags/*"]
	push = +force group user/Lukas Benes (falsecz)
	pushTag = group user/Lukas Benes (falsecz)
	pushSignedTag = group user/Lukas Benes (falsecz)
